<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>Pricing</title>
  <meta name="description" content="Wireframe design of a pricing table by Pingendo">
  <meta name="keywords" content="Pingendo bootstrap example template wireframe pricing table">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="wireframe.css">
</head>

<body class="bg-light">
  <div class="pt-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <h1 class="display-4">WarcraftLogs Corruption Filter</h1>
          <p class="lead" contenteditable="true">Select specific corruptions to filter warcraftlogs results.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <div class="container">
      <div class="row pt-4">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
                <a href="#" onclick=selected() id="corruption-filter" class="list-group-item list-group-item-action flex-column align-items-start p-2 mb-3 ">
                  <div class="row">
                    <div class="col-md-3"><img class="img-fluid d-block" src="assets/ability_rogue_sinistercalling.jpg"></div>
                    <div class="col-md-9">
                      <h2 class="">Masterful<br></h2>
                    </div>
                  </div>
                </a>
            </div>
            <div class="col-md-4">
              <a href="#" onclick=selected() id="corruption-filter" class="list-group-item list-group-item-action flex-column align-items-start p-2 mb-3 ">
                <div class="row">
                  <div class="col-md-3"><img class="img-fluid d-block" src="assets/ability_mage_netherwindpresence.jpg"></div>
                  <div class="col-md-9">
                    <h2 class="">Expedient<br></h2>
                  </div>
                </div>
              </a>
          </div>
          <div class="col-md-4">
            <a href="#" onclick=selected() id="corruption-filter" class="list-group-item list-group-item-action flex-column align-items-start p-2 mb-3 ">
              <div class="row">
                <div class="col-md-3"><img class="img-fluid d-block" src="assets/achievement_profession_fishing_findfish.jpg"></div>
                <div class="col-md-9">
                  <h2 class="">Strikethrough<br></h2>
                </div>
              </div>
            </a>
        </div>
        <div class="col-md-4">
          <a href="#" onclick=selected() id="corruption-filter" class="list-group-item list-group-item-action flex-column align-items-start p-2 mb-3">
            <div class="row">
              <div class="col-md-3"><img class="img-fluid d-block" src="assets/ability_rogue_sinistercalling.jpg"></div>
              <div class="col-md-9">
                <h2 class="">Masterful<br></h2>
              </div>
            </div>
          </a>
      </div>
      <div class="col-md-4">
        <a href="#" onclick=selected() id="corruption-filter" class="list-group-item list-group-item-action flex-column align-items-start p-2 mb-3">
          <div class="row">
            <div class="col-md-3"><img class="img-fluid d-block" src="assets/ability_rogue_sinistercalling.jpg"></div>
            <div class="col-md-9">
              <h2 class="">Masterful<br></h2>
            </div>
          </div>
        </a>
    </div>
    <div class="col-md-4">
      <a href="#" onclick=selected() id="corruption-filter" class="list-group-item list-group-item-action flex-column align-items-start p-2 mb-3 ">
        <div class="row">
          <div class="col-md-3"><img class="img-fluid d-block" src="assets/ability_rogue_sinistercalling.jpg"></div>
          <div class="col-md-9">
            <h2 class="">Masterful<br></h2>
          </div>
        </div>
      </a>
  </div>
  <div class="col-md-4">
    <a href="#" onclick=selected() id="corruption-filter" class="list-group-item list-group-item-action flex-column align-items-start p-2 mb-3 ">
      <div class="row">
        <div class="col-md-3"><img class="img-fluid d-block" src="assets/ability_rogue_sinistercalling.jpg"></div>
        <div class="col-md-9">
          <h2 class="">Masterful<br></h2>
        </div>
      </div>
    </a>
</div>
<div class="col-md-4">
  <a href="#" onclick=selected() id="corruption-filter" class="list-group-item list-group-item-action flex-column align-items-start p-2 mb-3 ">
    <div class="row">
      <div class="col-md-3"><img class="img-fluid d-block" src="assets/ability_rogue_sinistercalling.jpg"></div>
      <div class="col-md-9">
        <h2 class="">Masterful<br></h2>
      </div>
    </div>
  </a>
</div>
<div class="col-md-4">
  <a href="#" onclick=selected() id="corruption-filter" class="list-group-item list-group-item-action flex-column align-items-start p-2 mb-3 ">
    <div class="row">
      <div class="col-md-3"><img class="img-fluid d-block" src="assets/ability_rogue_sinistercalling.jpg"></div>
      <div class="col-md-9">
        <h2 class="">Masterful<br></h2>
      </div>
    </div>
  </a>
</div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">© 2020 Víctor Peralta | Chërokee-DunModr | All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="selected.js"></script>
</body>

</html>